body {
  font-family: "lato";
}

img {
  vertical-align: top;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}


.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

/* header */

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 15px 0;
  background-color: #fff;
  z-index: 1;
}

.icon {
  color: gray;
  float: left;
}


@media screen and (min-width:768px) {
  .contact {
    background-color: #74cfae;
    color: #fff;
    font-size: 12px;
    padding: 14px 12px;
    float: right;
    text-decoration: none;
    transition: color 0.3s;
  }
  .contact:hover {
    color: #333;
  }
}



/* theme */

.title {
  width: 100%;
  padding-top: 78px;
  background-color: #f2f2f2;
}

.title-inner {
  padding: 250px 0;
  text-align: center;
}

.theme-main {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: 'raleway';
}
.theme-main br {
  display: none;
}

.theme-sub {
  color: #c0c0c0;
  font-size: 30px;
}
.theme-sub br {
  display: none;
}





/* whatwecando */

.whatwecando {
  width: 100%;
  background-color: #74cfae;
  padding-top: 50px;
}

.img {
  float: left;
  width: 350px;
}

.contents {
  float: right;
  color: #fff;
  width: 750px;
}

.section-title {
  font-size: 24px;
  font-family: 'raleway';
}

.section-content {
  font-size: 20px;
  margin-top: 35px;
  line-height: 30px;
}





/* ourlatestwork */

.ourlatestwork {
  width: 100%;
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 70px;
}

.article-title {
  font-size: 24px;
  font-family: 'raleway';
}

.article-figure {
  margin-top: 40px;
  margin-bottom: 90px;
  content: "";
  font-size: 0;
}

.grid {
  margin-right: 100px;
  opacity: 0.7;
  transition: 0.3s;
  display: inline-block;
  margin-top: 80px;
  z-index: 2;
}

.grid:nth-child(3n) {
  margin-right: 0;
}

.grid:nth-child(-n+3) {
  margin-top: 0;
}

.grid:hover {
  opacity: 1.0;
}

.inline-block {
  display: inline-block;
}

.article-content {
  font-size: 20px;
  line-height: 30px;
  width: 670px;
}

.mail {
  text-decoration: none;
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  margin-left: 90px;
  color: #fff;
  vertical-align: top;
  transition: color 0.3s;
}

.mail:hover {
  color: #333;
}





/* ourskills */

.ourskills {
  width: 100%;
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
  color: #fff;
}

.section_title {
  font-size: 24px;
  font-family: 'raleway';
  margin-bottom: 20px;
}

.circle {
  font-size: 16px;
  display: inline-block;
  margin-left: 180px;
}

.circle:first-child {
  margin-left: 0;
}

.load {
  margin-bottom: 20px;
}




/* sns */

.sns {
  background-color: #f2f2f2;
  padding-top: 200px;
  padding-bottom: 200px;
  font-size: 0;
}

.sns-icon {
  width: 185px;
  padding: 20px 0;
  transition: 0.3s;
  display: inline-block;
  font-size: 15px;
}

.sns-icon:hover {
  background-color: #fff;
}

.icons {
  color: #74cfae;
}




/* footer */

.footer {
  background-color: #74cfae;
  width: 100%;
  padding: 20px 0 25px 0;
}

.copyright {
  color: #fff;
  text-align: right;
}






/* tb */

@media screen and (max-width:1199px) {
  .inner {
    width: 97%;
  }


  .whatwecando {
      padding-bottom: 25px;
    }
  .img {
    float: none;
    margin: 0 auto 20px;
  }
  .contents {
    float: none;
    margin: 0 auto;
    width: 80%;
  }


  .grid {
    display: block;
    margin: 0 auto;
    width: 300px;
  }
  .grid:nth-child(3n) {
    margin-right: auto;
  }
  .grid:nth-child(3n+4) {
    margin-top: 80px;
  }
  .article-figure {
    margin-bottom: 80px;
  }
  .inline-block {
    display: block;
    align-items: center;
  }
  .article-content {
    margin: 0 auto;
    width: 100%;
  }
  .mail {
    margin: 40px auto 0;
    width: 80px;
  }


  .circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 88px;
    margin-left: 0;
  }
  .circle:first-child {
    margin-top: 0;
  }
  .section_title {
    margin-bottom: 30px;
  }
}


/* sp */

@media screen and (max-width:767px) {
  .hamberger {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
    width: 26px;
    float: right;
    height: 20px;
    font-size: 0;
  }
  .tomato{
    position: absolute;
    top: -40%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 3px;
    width: 26px;
    background-color: #ddd;
    border-radius: 2px;
    box-sizing: border-box;
  }
  .hamberg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 3px;
    width: 26px;
    background-color: #ddd;
    border-radius: 2px;
    box-sizing: border-box;
  } 
  .letas{
    position: absolute;
    top: 48%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 3px;
    width: 26px;
    background-color: #ddd;
    border-radius: 2px;
    box-sizing: border-box;
  }


  .title-inner {
    padding: 160px 0 130px;
  }
  .theme-main {
    font-size: 80px;
  }
  .theme-sub {
    line-height: 35px;
  }
  .theme-main br {
    display: inline;
  }
  .theme-sub br {
    display: inline;
  }


  .sns {
    padding: 50px 0;
  }
  .sns-icon {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }
}
